mixin poster(posterData)
  .poster
    .type= posterData.type
    .location= posterData.location
    .age= posterData.age
    .admission= posterData.admission
    .date= posterData.date
    .time= posterData.time
    .description= posterData.description

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='styles.css')
    link(rel='stylesheet', type='text/css', href='slick/slick.css')
    link(rel="stylesheet" type="text/css" href="slick/slick-theme.css")
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')


  header
  body#body.light-mode
    
    //- Item modal
    .item-modal
      .item-modal-content
        span.item-close-button ×
        img(src="images/test2.jpg")


    //- Post modal
    .post-modal
      .login-page
        .form
          span.post-close-button
          form.login-form
            img(src="images/drop-image-here.svg", ID='image-drop')
            input(type='text', placeholder='Event Title')
            input(type='text', placeholder='Event Date')
            input(type='password', placeholder='Event Time')
            input(type='password', placeholder='Event Description', ID='description-box' )
            .js-add-slide
              button Post!
            //- p.message
            //-   | Not registered? 
            //-   a(href='#') Create an account



    //- Sign up modal
    //- .sign-up-modal
    //-   .sign-up-modal-content
    //-     span.sign-up-close-button ×
    //-     h1 sign up!
    //-     form
    //-     | username:
    //-     br
    //-     input(type='text', name='firstname')
    //-     br
    //-     | password:
    //-     br
    //-     input(type='text', name='lastname')

    //- Sign in modal
    .sign-in-modal
      .login-page
        .form
          span.sign-in-close-button
          form.register-form
            input(type='text', placeholder='name')
            input(type='password', placeholder='password')
            input(type='text', placeholder='email address')
            button create
            p.message
              | Already registered? 
              a(href='#') Sign In
          form.login-form
            input(type='text', placeholder='username')
            input(type='password', placeholder='password')
            button login
            p.message
              | Not registered? 
              a(href='#') Create an account

    //- Hero/logo image
    .header-container
      .header
        .hero
          img(src="images/hero.svg")
    

    //- Filter
    main#navbar
      //- Header bar
      .menu-container
        .menu
          .links
            label(for='toggle')
              a.filter-button Click to filter
            .post
              a.post-trigger Post an event
            //- .sign-up
            //-   a.sign-up-trigger SIGN UP
            .sign-in
              a.sign-in-trigger SIGN IN

      input#toggle(type='checkbox')
      label(for='toggle')
      //-   a.filter-button Filter
          //- img(src='images/filterbutton.svg')
      #expand
        .filter
          .search-filter
            p search
            input(type='text', placeholder='search')
          .location-filter
            p location
            input(type='text', placeholder='location')
          .date-filter
            p date
            input(type='text', placeholder='mm / dd / yy')
          .age-filter
            p 19+
            input(type='checkbox')
          .musical-filter
            p free
            input(type='checkbox')
          .morning-filter
            p morning
            input(type='checkbox')
          .afternoon-filter
            p afternoon
            input(type='checkbox')
          .night-filter
            p night
            input(type='checkbox')
      //- dark/light mode toggle
      //- button(type='button', name='dark_light', onclick='toggleDarkLight()', title='Toggle dark/light mode') 🌛


    div.carousel-title-box
      div.carousel-title-text
        h1 Top Events
    //- Carousel 1
    .slick-carousel-top
        div
          .item
            img(src="images/test2.jpg").item-trigger
            a.post-modal POST
            data(hidden='') musical
            data(hidden='') 19       
        div
          .item
            img(src="images/test1.jpg").item-trigger
            a.post-modal POST
            data(hidden='') musical
            data(hidden='') 19
        div
          .item
            div
              a(href='http://www.test.nl', target='_blank')
                img(src='images/test17.jpg')
                data(hidden='') musical
                data(hidden='') 19

        div
          .item
            img(src="images/test18.jpg").item-trigger
            a.post-modal POST
            data(hidden='') 19
        div
          .item
            img(src="images/test3.jpg").item-trigger
            a.post-modal POST
        div
          .item
            img(src="images/test19.jpg").item-trigger
            a.post-modal POST
        div
          .item
            img(src="images/test4.jpg").item-trigger
            a.post-modal POST
        div
          .item
            img(src="images/test20.jpg").item-trigger
            a.post-modal POST
        div
          .item
            img(src="images/test5.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test21.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test6.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test22.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test7.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test23.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test8.jpg").item-trigger
            a.post-modal POST
        div
          .poster
            img(src="images/test24.jpg").item-trigger
            a.post-modal POST

    div.carousel-title-box
      div.carousel-title-text
        h1 Food + Drink

    //- Carousel 2
    .slick-carousel
      div
        .item
          img(src="images/test25.jpg").item-trigger
          a.post-modal POST
          data(hidden='') musical
          data(hidden='') 19
      div
        .item
          div
            a(href='http://www.test.nl', target='_blank')
              img(src='images/test9.jpg')
              data(hidden='') musical
              data(hidden='') 19
      div
        .item
          img(src="images/test26.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test10.jpg").item-trigger
          a.post-modal POST
          data(hidden='') 19
      div
        .item
          img(src="images/test27.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test11.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test28.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test12.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test29.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test13.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test30.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test14.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test31.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test15.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test32.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test16.jpg").item-trigger
          a.post-modal POST

    div.carousel-title-box
      div.carousel-title-text
        h1 Theater

    //- Carousel 3
    .slick-carousel
      div
        .item
          img(src="images/test1.jpg").item-trigger
          a.post-modal POST
          data(hidden='') musical
          data(hidden='') 19
      div
        .item
          div
            a(href='http://www.test.nl', target='_blank')
              img(src='images/test17.jpg')
              data(hidden='') musical
              data(hidden='') 19
      div
        .item
          img(src="images/test2.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test18.jpg").item-trigger
          a.post-modal POST
          data(hidden='') 19
      div
        .item
          img(src="images/test3.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test19.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test4.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test20.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test5.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test21.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test6.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test22.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test7.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test23.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test8.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test24.jpg").item-trigger
          a.post-modal POST

    div.carousel-title-box
      div.carousel-title-text
        h1 Nightlife

    //- Carousel 4
    .slick-carousel
      div
        .item
          img(src="images/test25.jpg").item-trigger
          a.post-modal POST
          data(hidden='') musical
          data(hidden='') 19
      div
        .item
          div
            a(href='http://www.test.nl', target='_blank')
              img(src='images/test9.jpg')
              data(hidden='') musical
              data(hidden='') 19
      div
        .item
          img(src="images/test26.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test10.jpg").item-trigger
          a.post-modal POST
          data(hidden='') 19
      div
        .item
          img(src="images/test27.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test11.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test28.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test12.jpg").item-trigger
          a.post-modal POST
      div
        .item
          img(src="images/test29.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test13.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test30.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test14.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test31.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test15.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test32.jpg").item-trigger
          a.post-modal POST
      div
        .poster
          img(src="images/test16.jpg").item-trigger
          a.post-modal POST

    //- Slick JS
    script(src='scripts.js')
    script(src='https://code.jquery.com/jquery-3.0.0.js')
    script(type='text/javascript', src='slick/slick.min.js')
    script(src='https://code.jquery.com/jquery-migrate-3.0.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')


    //- Initialize Slick
    script.
        $('.slick-carousel-top').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          variableWidth: true,
          arrows: true,
          accessibility: true
      });

      var filtered = false;
      var slideIndex = 16;


    //- Initialize Slick
    script.
        $('.slick-carousel').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          variableWidth: true,
          arrows: true,
          accessibility: true
      });

      var filtered = false;
      var slideIndex = 16;
    
    //- Filter scripts    
    script.
        $('.age-filter').on('click', function() {
            if (filtered === false) {
            $('.slick-carousel').slick('slickFilter','div:contains("19")');
            //- $(this).text('All ages');
            filtered = true;
            } else {
            $('.slick-carousel').slick('slickUnfilter');
            //- $(this).text('19+');
            filtered = false;
            }
        });

    script.
        $('.musical-filter').on('click', function() {
            if (filtered === false) {
            $('.slick-carousel').slick('slickFilter','div:contains("musical")');
            //- $(this).text('yes musical');
            filtered = true;
            } else {
            $('.slick-carousel').slick('slickUnfilter');
            //- $(this).text('no musical');
            filtered = false;
            }
        });

    //- Add Posting script
    script.
        $('.js-add-slide').on('click', function() {
            slideIndex++;
            $('.slick-carousel').slick('slickAdd','<div> <img src="images/test24.jpg"/> </div>');
        });

        $('.js-remove-slide').on('click', function() {
            $('.slick-carousel').slick('slickRemove',slideIndex - 1);
            if (slideIndex !== 0){
            slideIndex--;
            }
        });

    //- Sign in
    script.
      $('.message a').click(function(){
          $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
footer


